.card_parent{
    width: 25vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    box-shadow: 0 0 12px black;
    position: relative;
    height: 340px;
}

.Card_food_pic{
    width: 100%;
    margin-bottom: 15px;
    height: 136px;
    box-sizing: border-box;
}

.Card_about{
    box-sizing: border-box;
} 

.card_about_name{
    font-size: 20px; 
    position: relative;
    left: 15px;
}
.card_about_desc{
    margin: 10px 0px;
    font-size: 15px;
    width: 75%;
    position: relative;
    left: 15px;
    word-wrap: break-word;
}

.card_add{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    height: 50px;
}

.card_add div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
    padding: 10px;
}

.card_add_add{
    border: 2px solid green;
}

.card_add_delete{
    cursor: pointer;
}

.Card_Rupee{
    z-index: 1;
    position: absolute;
    width: 28px;
    top: 107px;
    filter: invert(1);
}

.Card_Cost{
    position: absolute;
    top: 110px;
    font-size: 20px;
    left: 24px; 
    color: white;   
}

.card_add_add:hover{
    cursor: pointer;
    background-color: rgb(172, 227, 172);
}

.Veg{
    width: 16px;
    background-color: none;
}



@media(width < 803px){
    .card_parent{
        width: 42vw;
    }
}

@media(width < 602px){
    .card_parent{
        width: 62vw;
    }
}